/** Home Page **/
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
body {
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.top-header{
  height: 122px; padding-top:5px;
}
.top-header .left-div, .top-header .middle-div{
  float: left;
}
.top-header .right-div{
  float: right;
}
.top-header .left-div img{
  width: 150px;
}
.top-header .middle-div img{
  width: 350px;
}
.top-header .right-div img{
  width: 70px;
}
.marquee{
  font-weight: bold;color: red; text-align: right;
}
/*.navbar-fixed-bottom, .navbar-fixed-top{
  margin-bottom: 20px !important;
}*/

/** Login Page **/
/*.loginbody {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {    
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
    padding: 7px 9px;
}*/

/** 2 level sub menu **/
/*
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
*/

/** Global **/
#content {
    margin-left: 0;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
  max-width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

tr.unread {
  cursor: pointer;
  font-weight: bold;  
}
tr.read{
  cursor: pointer;
}

tr.read:hover, tr.unread:hover{background-color: #EEE;}

.nomargin{margin:0px;}

textarea{
  resize:none;
}
.modal-lg{
  width: 800px !important;
  margin-left: -394px !important;
}
/*.modal-lg .modal-body{
  max-height: auto !important;
}*/
.exam-cnt{
  margin: 3.5% 5% 3.5% 5%;
  background: #EEE;
  border:1px solid #CCC;
  border-radius: 5px;
  padding: 5px;
}
.exam-cnt-inner{
  margin: 10px;
}
.totalscore{
  float: right;
  margin: 10px 5% 10px 0;
  font-weight: bold;
}
.rightAnswer{
  background:#00FF31;
  color: #000;
}
.wrongAnswer{
  background:#FF2900;
  color: #000;
}

/*.examBlocks{
  border:2px solid #CCC; border-radius:5px;background-color:#EEE;float:left;padding:3%;margin:0 10px 0 10px;font-weight:bold;
}*/
.examCnt{
  padding:5px;border-radius:5px;border:1px solid #CCC;
}
.finishExamBtn{
  background: green none repeat scroll 0 0;
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.viewExamsCnt{
  width:100%;
}
.viewExams{
  border:1px solid #999;background:#FFF;padding:10px;border-radius:5px;margin-bottom:10px;
}
.qq-upload-list{
  display:none !important;
}
.bold{
    font-weight: bold;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#exam_list_boxes .items a .examBlocks{
  width: 100%; border:2px solid #CCC; border-radius:5px;background-color:#EEE;float:left;padding:3%;margin:5px 0px 0px 0px;font-weight:bold;
}
#exam_list_boxes .items a .examBlocks div{
  text-align: center;
}

/* PAPER PAGE CSS */

.exam_title{
    color: #F00; margin-top:5px; padding-bottom: 10px; font-size: 20px; 
}
#question_button_container{
    height:120px; width:100%; overflow-y:scroll; padding: 3px; border: 1px solid #ccc;
}
#question_button_container div{
    display: inline-block; width: 30px; height: 30px; border: 1px solid #000; cursor: pointer; text-align: center; padding: 4px 0px 0px 0px; margin: 0px 4px 0px 0px;
}
#question_button_container .questionbutton_0{
    background: #efec00;
}
#question_button_container .questionbutton_1{
    background: #d600c4;
}
#question_button_container .questionbutton_2{
    background: #f10b00;
}
#question_button_container .questionbutton_3{
    background: #30bf19;
}
.statistic_area{
    font-size: 16px;
}
.question_div{
    display: none;
}
.active_question{
    display: block;
}
.question_area {
    min-height: 210px !important; padding: 25px; border-radius: 6px; background-color: #f6dff9; font-size: 16px;
}
.question_number{
    width: 40px; display: inline-block; float: left; font-weight: bold; color: #f00; font-size: 18px;
}
.question_body{
    float: left;
}
.answer_options{
    clear: both;
}
.button-width-70{
    width: 70px;
}
#warning_alert, #red_alert{
    display: inline-block; display: none;
}
#processing_bar{
    visibility: hidden;
}
.active-alert{
  display: block; margin-top: 10px;
}
.deactive-alert{
  display: none; margin-top: 10px;
}
/* PAPER PAGE CSS */